.army {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: 0;
    background-color: green;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}