<ng-container *ngIf="(round$ | async) as round">
    <button nz-button nzShape="round" nzType="primary"
        *ngIf="isYourTurn && round.roundType.canAddArmies && !round.turn.armiesAdded" (click)="addArmies()">ADD
        ARMIES </button>
    <button nz-button nzShape="round" nzType="primary"
        *ngIf="isYourTurn && round.roundType.canAttack && round.turn.armiesAdded && !round.turn.attacked"
        (click)="attackCountries()">ATTACK</button>
    <button nz-button nzShape="round" nzType="primary"
        *ngIf="isYourTurn && round.turn.armiesAdded && round.roundType.canRegroup" (click)="moveArmies()">MOVE
        ARMIES</button>
    <button nz-button nzShape="round" nzType="primary"
        *ngIf="isYourTurn && !round.turn.getCard && round.turn.armiesAdded && round.roundType.canGetCard && round.turn.conqueredCountries >= round.turn.player.requiredCountriesToGetCard"
        (click)="getCard()">GET CARD</button>
    <button nz-button nzShape="round" nzType="primary" nzDanger (click)="finishTurn()">FINISH TURN</button>

</ng-container>