.color {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: '1px solid grey'
}

.container {
    margin: 2rem auto;
    width: 70%;
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}