.card {
    display: flex;
    flex-direction: column;
    background: #e3e3e3;
}

.card-container {
    display: flex;
}

:host {
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    width: 50%;
}

app-card-item {
    height: 100%;
}
